
<footer id="gtco-footer" role="contentinfo" class="mt-3">
    <div class="gtco-container">
        <div class="row row-p b-md">
            <div class="col-md-4 ms-3">
                <div class="gtco-widget">
                    <h3>About Us</h3>
                    <p>At My Travel, we strive to provide the best travel experiences to our customers by connecting them with unique destinations and personalized services.</p>
                </div>
                <img src="https://res.cloudinary.com/daf1fkwp5/image/upload/v1727621399/ul0esrnclzuoftgpvfcp.png" 
                style="height: 252px ; width: 252px;; background-size: cover;" alt="">

            </div>

            <div class="col-md-2 col-md-push-1">
                <div class="gtco-widget ms-3">
                    <h3>Destination</h3>
                    <ul class="gtco-footer-links">
                        <li><a href="schedule/28">Spain</a></li>
                        <li><a href="schedule/4">Australia</a></li>
                        <li><a href="schedule/35">Japan</a></li>
                        <li><a href="schedule/27">Quatar</a></li>
                        <li><a href="schedule/32">Dubai</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-2 col-md-push-1">
                <div class="gtco-widget ms-3">
                    <h3>Hotels</h3>
                    <ul class="gtco-footer-links">
                        <li><a href="#">Luxe Hotel</a></li>
                        <li><a href="#">Italy 5 Star hotel</a></li>
                        <li><a href="#">Dubai Hotel</a></li>
                        <li><a href="#">Deluxe Hotel</a></li>
                        <li><a href="#">BoraBora Hotel</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-md-push-1">
                <div class="gtco-widget ms-3">
                    <h3>Get In Touch</h3>
                    <ul class="gtco-quick-contact">
                        <li><a href="#"><i class="icon-phone"></i> +1 234 567 890</a></li>
                        <li ><a href="mailto:info@yoursite.com" class="text-decoration-none"><i class="bi bi-envelope-fill me-2"></i>info</a></li>
                            <li><a href=""><i class="bi bi-geo-alt-fill me-2"></i>198 West 21th Street, Suite 721 New York NY
                                10016</a></li>
                        <li><a href="#"><i class="icon-chat"></i> Live Chat</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row copyright">
            <div class="col-md-12 ms-3">
                <p class="pull-left">
                    <small class="block">© 2024 My Travel. All Rights Reserved.</small> 
                <!-- <p class="pull-right"> -->
                    <!-- <ul class="gtco-social-icons">
                        <li>    <i class="fa-brands fa-x-twitter"></i> </li>
                        <i class="fa-brands fa-x-twitter"></i>
                    </ul> -->
                <!-- </p> -->
            </div>
        </div>
    </div>
</footer>
