
  <!-- status -->
<div>
<div>
  <h1 class="text-center" style="color: #09c6ab;">OUR SUCCESS</h1>
</div>

  <div class="container mt-3">
    <div class="row">
      <div class="col-md-3">
        <div class="counter-box green">
          <i class="fa-regular fa-face-smile"></i>
          <span class="counter">{{ happyCustomers }}</span>
          <p>HAPPY CUSTOMER</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="counter-box bl">
          <i class="fa-solid fa-user"></i>
          <span class="counter">{{ registeredMembers }}</span>
          <p>REGISTERED MEMBERS</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="counter-box ad">
          <!-- <i class="fa fa-shopping-cart"></i> -->
          <i class="fa-duotone fa-solid fa-plane-departure"></i>
          <span class="counter">{{ Destinations }}</span>
          <p>DESTINATION</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="counter-box as">
          <!-- <i class="fa-solid fa-check-to-slot"></i> -->
          <i class="fa-solid fa-hotel"></i>
          <span class="counter">{{ Hotels }}</span>
          <p>HOTELS</p>
        </div>
      </div>
      
    </div>
  </div>
</div>

 