<header id="contact-header" class="contact-cover ctcontact-cover-sm " role="banner"
    style="background-image: url('https://media.licdn.com/dms/image/v2/C5112AQF81DvfsIt9HQ/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1520149661589?e=1733356800&v=beta&t=GsAoaMKnaaJNbRe4V8PKIkSAQxXktsDPx9I5E6nOwBA');">
    <div class="overlay"></div>
    <div class="contact-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-left">
                <div class="row  mt-4 ">

                </div>
            </div>
        </div>
    </div>


    <div class="container py-5 ">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-7 md mt-text animate-box fadeInUp animated-fast" data-animated-effect="fadeInUp">
                    <span class="intro-text-small">Don't be shy</span>
                    <h1>Get In Touch</h1>

                </div>
                <!-- <h3 class="mb-4">Get In Touch</h3> -->
                <form>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Your firstname">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Your email address">
                    </div>
                    <div class="mb-3">
                        <label for="subject" class="form-label">Subject</label>
                        <input type="text" class="form-control" id="subject" placeholder="Your subject of this message">
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Message</label>
                        <textarea id="message" rows="5" class="form-control"
                            placeholder="Write us something"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Send Message</button>
                </form>
            </div>

            <!-- Contact Information Section -->
            <!-- <div class="col-md-5 offset-md-1">
                <h3 class="mb-4 text-black">Contact Information</h3>
                <ul class="list-unstyled">
                    <li class="mb-3  "><i class="bi bi-geo-alt-fill me-2"></i>198 West 21th Street, Suite 721 New York NY
                        10016</li>
                    <li class="mb-3"><i class="bi bi-telephone-fill me-2"></i><a href="tel://1234567920"
                            class="text-decoration-none">+1235 2355 98</a></li>
                    <li class="mb-3"><i class="bi bi-envelope-fill me-2"></i><a href="mailto:info@yoursite.com"
                            class="text-decoration-none">info</a></li>
                    <li class="mb-3"><i class="bi bi-globe me-2"></i><a href="\main"
                            class="text-decoration-none">TravelHub</a></li>
                </ul>
            </div> -->
        </div>
    </div>


</header>
