.nav-link{
    color: rgb(46, 46, 239);
}
.nav-link:hover {
    color: #007bff;
}
.navbar{
    height: 160px;
}
.navbar {
    background-color: #ffff; 
  }
  
  .nav-link {
    color: black;  
    font-size: large;
  }
  
  .nav-link:hover {
    color:#007bff; 
  }
 