<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Logo Section -->
    <a class="navbar-brand" href="">
      <img src="https://res.cloudinary.com/daf1fkwp5/image/upload/v1727621399/ul0esrnclzuoftgpvfcp.png" 
           alt="My Travel" class="navbar-logo">
    </a>
    <a class="navbar-brand" href="" *ngIf="!isAdmin">Aura Travel</a>
    
    <!-- Toggler Button for Mobile View -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="!isLoggedIn && !isAdmin">
          <a class="nav-link active" aria-current="page" href="">Home</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn && !isAdmin">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" href="/users">User Management</a>
        </li>
        <li class="nav-item" *ngIf="!isAdmin">
          <a class="nav-link" href="/explore">Explore</a>
        </li>
        <li class="nav-item" *ngIf="!isAdmin">
          <a class="nav-link" href="/services">Services</a>
        </li>
        <li class="nav-item" *ngIf="!isAdmin">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item" *ngIf=" isLoggedIn &&!isAdmin">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        
      </ul>

      <!-- Right-Side Buttons -->
      <div class="d-flex align-items-center">
        <!-- Login Button -->
        <button *ngIf="!isLoggedIn" type="button" class="btn btn-primary me-3" (click)="getstarted()" >Get Started</button>
        
        <button *ngIf="isLoggedIn" type="button" class="btn btn-primary me-3" (click)="logout()" >Logout</button>


        
      </div>
    </div>
  </div>
</nav>
