<div class="coverr py-5">
    <div class="container">
      <h2 class="text-center mb-4 animate-title">Schedule Your Trip</h2>
  
      <form [formGroup]="bookingForm">
        <div class="row g-3">
          <!-- Name -->
          <div class="col-md-6">
            <label for="CustomerName" class="form-label">Name</label>
            <input
              type="text"
              id="CustomerName"
              class="form-control"
              formControlName="CustomerName"
              required
            />
            <div
              *ngIf="bookingForm.get('CustomerName')?.errors && bookingForm.get('CustomerName')?.touched"
              class="error"
            >
              <small *ngIf="bookingForm.get('CustomerName')?.errors?.['required']">
                Name is required.
              </small>
              <small *ngIf="bookingForm.get('CustomerName')?.errors?.['pattern']">
                Only alphabets and spaces are allowed.
              </small>
            </div>
          </div>
  
          <!-- Email -->
          <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input
              type="text"
              id="email"
              class="form-control"
              formControlName="email"
              required
            />
            <div
              *ngIf="bookingForm.get('email')?.errors && bookingForm.get('email')?.touched"
              class="error"
            >
              <small *ngIf="bookingForm.get('email')?.errors?.['required']">Email is required.</small>
              <small *ngIf="bookingForm.get('email')?.errors?.['email']">Invalid email address.</small>
            </div>
          </div>
  
          <!-- Mobile Number -->
          <div class="col-md-6">
            <label for="mobno" class="form-label">Phone Number</label>
            <input
              type="text"
              id="mobno"
              class="form-control"
              formControlName="mobno"
              required
            />
            <div
              *ngIf="bookingForm.get('mobno')?.errors && bookingForm.get('mobno')?.touched"
              class="error"
            >
              <small *ngIf="bookingForm.get('mobno')?.errors?.['required']">Phone number is required.</small>
              <small *ngIf="bookingForm.get('mobno')?.errors?.['pattern']">Invalid phone number.</small>
            </div>
          </div>
            <!-- destination -->
            <div class="col-md-6">
                <label for="mobno" class="form-label">Destination</label>
                <input
                  type="text"
                  id="mobno"
                  class="form-control"
                  formControlName="destination"
                  required
                  readonly
                />
              
              </div>

          <!-- From -->
          <div class="col-md-6">
            <label for="from" class="form-label">From</label>
            <input
              type="text"
              id="from"
              class="form-control"
              formControlName="from"
              required
            />
            <div
              *ngIf="bookingForm.get('from')?.errors && bookingForm.get('from')?.touched"
              class="error"
            >
              <small *ngIf="bookingForm.get('from')?.errors?.['required']">This filed is required.</small>
            </div>
          </div>
        
  
          <!-- People Count -->
          <div class="col-md-6">
            <label for="countPeople" class="form-label">Number of People</label>
            <input
              type="number"
              id="countPeople"
              class="form-control"
              formControlName="countPeople"
              required
              min="1"
              max="10"
            />
            <div
              *ngIf="bookingForm.get('countPeople')?.errors && bookingForm.get('countPeople')?.touched"
              class="error"
            >
              <small *ngIf="bookingForm.get('countPeople')?.errors?.['required']">Number of People is required.</small>
            </div>
          </div>
          <!-- Date -->
          <div class="col-md-6">
            <label for="selectDate" class="form-label">Trip Date</label>
            <input
              type="date"
              id="selectDate"
              class="form-control"
              formControlName="selectDate"
              required
            />
            <div *ngIf="bookingForm.get('selectDate')?.touched && bookingForm.get('selectDate')?.invalid" class="error">
              <small *ngIf="bookingForm.get('selectDate')?.errors?.['required']">Departure date is required.</small>
              <small *ngIf="bookingForm.get('selectDate')?.errors?.['pastDate']">Departure date cannot be in the past.</small>
            </div>
          </div>
<!-- returnDate -->
          <div class="col-md-6">
            <label for="selectDate" class="form-label">Return Date</label>
            <input
              type="date"
              id="returnDate"
              class="form-control"
              formControlName="returnDate"
              required
            />
            <div *ngIf="bookingForm.get('returnDate')?.touched && bookingForm.get('returnDate')?.invalid" class="error">
              <small *ngIf="bookingForm.get('returnDate')?.errors?.['required']">Return date is required.</small>
              <small *ngIf="bookingForm.get('returnDate')?.errors?.['pastDate']">Departure date cannot be in the past.</small>
              <small *ngIf="bookingForm.get('returnDate')?.errors?.['invalidReturnDate']">Return date must be at least 8 days after departure.</small>
            </div>
          </div>
  
          <!-- Hotels  -->
          <div class="col-md-6">
            <label for="selectedHotel" class="form-label">Hotel</label>
            <select id="selectedHotel" class="form-select" formControlName="selectedHotel" required>
              <option value="" disabled>Select your hotel</option>
              <option *ngFor="let hotel of hotelDetails" [value]="hotel.name">
                {{ hotel.name }}
              </option>
            </select>
            <div *ngIf="bookingForm.get('selectedHotel')?.touched && bookingForm.get('selectedHotel')?.invalid" class="error">
              <small *ngIf="bookingForm.get('selectedHotel')?.errors?.['required']">Please select a hotel.</small>
            </div>
          </div>
  <!-- flights -->
          <div class="col-md-6">
            <label for="selectedFlight" class="form-label">Airlines</label>
            <select id="selectedFlight" class="form-select" formControlName="selectedFlight" required>
              <option value="" disabled>Select your airline</option>
              <option *ngFor="let flight of airlineDetails" [value]="flight.airlineName">
                {{ flight.airlineName }}
              </option>
            </select>
            <div *ngIf="bookingForm.get('selectedFlight')?.touched && bookingForm.get('selectedFlight')?.invalid" class="error">
              <small *ngIf="bookingForm.get('selectedFlight')?.errors?.['required']">Please select a flight.</small>
            </div>
          </div>
        </div>
        <div class="form-group mt-3">
          <label for="confirmpassword" style="color: green;">Enter  your Password to Confirm the Trip</label>
          <input type="text" name="password" formControlName="password" class="form-control bg-body-secondary" placeholder=" Password"  id="userpswd" required>         
        </div>
        <div *ngIf="this.bookingForm.get('password')?.errors&&this.bookingForm.get('password')?.touched " style="color:red;">Please Enter the Password</div>
        <!-- Submit Button -->
        <div class="text-center mt-4">
          <button type="button" class="btn btn-primary px-4 py-2 animate-button" (click)="booking()">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>