<div class="about-container mt-4">
  <h1>About Us</h1>
  <p>Welcome to My Travel, where your adventure begins!</p>
  
  <div class="about-content">
      <div class="mission">
          <h2>Our Mission</h2>
          <p>
              Welcome to Aura Travel, where we’ve been turning dreams into reality for over six successful years!
              Founded on a passion for exploration and a commitment to exceptional service, we have established ourselves as a trusted name in the travel industry.
              <br>
              At Aura Travel, we believe that travel is not just about reaching a destination, but about creating memorable experiences that last a lifetime.
              Our dedicated team of travel experts is committed to curating unique itineraries tailored to the individual needs and preferences of our clients.
              <br>
              Over the years, we have cultivated strong partnerships with a diverse range of travel agencies and service providers.
              This collaboration enables us to offer our customers exclusive deals and access to some of the most sought-after experiences around the globe.
              <br>
              Our success is not just measured in the number of trips we plan, but in the happiness of our customers.
              We take great pride in the positive feedback and lasting relationships we've built with our clients.
              <br>
              Join us at My Travel as we continue to explore new horizons and help you create your next great adventure.
          </p>
      </div>
      
      <div class="team">
          <h2>Meet Our Team</h2>
          <div class="team-member">
              <img src="/public/assets/logo.jpg" alt="Team Member 1">
              <h3>John Doe</h3>
              <p>Travel Consultant</p>
          </div>
          <div class="team-member">
              <img src="path/to/team-member2.jpg" alt="Team Member 2">
              <h3>Jane Smith</h3>
              <p>Tour Planner</p>
          </div>
      </div>
  </div>

  <div class="testimonials">
      <h2>What Our Customers Say</h2>
      <blockquote>
          <p>"[Customer Testimonial]"</p>
          <footer>- Customer Name</footer>
      </blockquote>
  </div>
</div>
