
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item slide-1 active">
     
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/free-photo/tourist-carrying-luggage_23-2151747469.jpg?t=st=1727603183~exp=1727606783~hmac=07853993d02b9c0564162489c02292f7d7f7e1b0956f3bce2df9631d58ce11cf&w=1380" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/free-photo/medium-shot-smiley-people-traveling_23-2149272177.jpg?t=st=1727602827~exp=1727606427~hmac=fb9bf80772716748e7dc006c6bdda45b3fda4a6c6912dab5b5d76ae214ad7f4a&w=996" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

  <div class="home-container mt-3">
    <div class="row">
        <!-- Use *ngFor to loop over packdata -->
        <div class="col-12 col-sm-6 col-md-4 mb-3" *ngFor="let data of packdata">
            <div class="card">
                <img src="{{data.Img}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">{{data.placename}}</h5>
                    <p class="card-text text-center">{{data.des}}</p>
                    <a href={{data.link}} class="btn btn-primary d-block text-center">Schedule a Trip</a>
                </div>
            </div>
        </div>
    </div>
</div>

  <div class="container">
    <div class="row">
      <div>
        <h2 class="text-center"> Airlines that Collaborate With us </h2>
      </div>
      <div class="col-4">
        <div>
          <img src="/assets/airindia.png" alt="">
        </div>
        
      </div>
    </div>
  </div>

 <app-status></app-status>