
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item slide-1 active">
      <img src="https://img.freepik.com/free-photo/tourist-carrying-luggage_23-2151747469.jpg?t=st=1727603183~exp=1727606783~hmac=07853993d02b9c0564162489c02292f7d7f7e1b0956f3bce2df9631d58ce11cf&w=1380" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/free-photo/stylish-tourist-with-hat-taking-pictures-vacation_23-2148597707.jpg?t=st=1728322095~exp=1728325695~hmac=6ca424305ed977536eee736fe431f8d7732626e223cd71e1d5c1af0301aafe5a&w=996" alt="">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/free-photo/tourist-couple-holding-map-together_23-2148619840.jpg?t=st=1728322852~exp=1728326452~hmac=e69e1d3b6eee9d488d832403c4d58bfdbfc4c967fa24b22b76ca8253afd94437&w=996" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="holiday-package-container">
  <h1 class="package-heading">Make your Holidays best with us..</h1>
  <div class="video-wrapper">
    <iframe 
      class="package-video"
      src="https://www.youtube.com/embed/Xj4E0Zry6K4?autoplay=1&mute=1&loop=1&playlist=Xj4E0Zry6K4" 
      title="Holiday Package Video"
      frameborder="0" 
      allow="autoplay; encrypted-media" 
      allowfullscreen>
    </iframe>
  </div>
</div>



<div class="text-center  mt-5">
  <h2 class="text-blue">Choose The Best Plan For You</h2>
  <p class="text-muted">Select from our exclusive packages for the ultimate travel experience.</p>
</div>


  <div class="package-view-container mt-5" *ngFor="let package of packages" [ngStyle]="{'background-image': 'url(' + package.packimg + ')'}">
    <div class="package-header">
      <h2 class="text-white text-center">{{ package.packagename }}</h2>
      <p class="text-white text-center">{{ package.subtitle1 }}</p>
    </div>
  
    <div class="package-content">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="package-item">
            <div class="package-image">
              <img style="width: 100%; height: auto; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);" 
                [src]="package.packimg" 
                [alt]="package.packagename" 
                class="img-fluid">
            </div>
            <div class="package-description">
              <h3 class="text-center mt-3">{{ package.packagename }}</h3>
              <p class="text-center">{{ package.queote }}</p>
              <blockquote class="quote text-center">
                <p>{{ package.des }}</p>
              </blockquote>
              <div class="text-center">
                <button class="btn btn-primarys" [routerLink]="package.link">{{ package.buttontitle }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  

<div class="container airlines-container">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Airlines that Collaborate With Us</h2>
    </div>
    <div class="col-12 airlines-slider">
      <div class="airline-img">
        <img src="/assets/airindia.png" class="icon" alt="Air India">
        <img src="/assets/Vistara-Images.png" class="icon" alt="Vistara">
        <img src="/assets/qatar_airways-logo.png" class="icon" alt="Qatar Airways">
        <img src="/assets/Emirates_logo.svg.png" class="icon" alt="Emirates">
        <img src="/assets/AirAsia_New_Logo.svg.png" class="icon" alt="AirAsia">
        <img src="/assets/british airways.jpeg" class="icon" alt="British Airways">
        <img src="/assets/singaporair.jpg" class="icon" alt="Singapore Airlines">
        <img src="/assets/EY-Etihad-Airways-new-logo-En.jpg" class="icon" alt="Etihad Airways">
        <img src="/assets/aircanada.png" class="icon" alt="Air Canada">
      </div>
    </div>
  </div>
</div>

  
  
  

 <app-status></app-status>