<div class="text-center  mt-5">
    <h2 class="text-blue">Schedule your Trip</h2>
  </div>

  <div class="home-container mt-3">
    <div class="row">
        <!-- Use *ngFor to loop over packdata -->
        <div class="col-12 col-sm-6 col-md-4 mb-3" *ngFor="let data of homepage">
            <div class="card">
                <img src="{{data.Img}}" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center">{{data.placename}}</h5>
                    <p class="card-text text-center">{{data.des}}</p>
                    <a href={{data.link}} class="btn btn-primary mt-auto d-blocker" text-cent>Schedule a Trip</a>
                </div>
            </div>
        </div>
    </div>
</div>