<div class="container">
    <img src="https://res.cloudinary.com/daf1fkwp5/image/upload/v1727621399/ul0esrnclzuoftgpvfcp.png" alt="Logo" class="logo" />
  
    <div class="content">
      <h4>WebPage is under Maintenance</h4>
      <h1>We Are <span>Launching</span> Soon...</h1>
  
      <div class="launch-time">
        <div>
          <p>{{ days }}</p>
          <span>Days</span>
        </div>
  
        <div>
          <p>{{ hours }}</p>
          <span>Hours</span>
        </div>
  
        <div>
          <p>{{ minutes }}</p>
          <span>Minutes</span>
        </div>
  
        <div>
          <p>{{ seconds }}</p>
          <span>Seconds</span>
        </div>
      </div>
  
      <button type="button">
        <a href="https://mailchimp.com/resources/website-maintenance/"> Learn More</a>
        <img src="https://res.cloudinary.com/daf1fkwp5/image/upload/v1727634172/triangle_wz17ps.png" alt="Arrow Icon" />
      </button>
    </div>
  
    <img src="https://res.cloudinary.com/daf1fkwp5/image/upload/v1727634148/rocket_zqlwnf.png" alt="Rocket" class="rocket" />
  </div>
  

  